<div>Weather App</div>



<div ng-controller="ColumnsCtrl" class="container" >
  <div class="row">
      <div class="col-6">
          
        <div class="upper-data">
          <img src="" alt="">
          <img src="../assets/blue.jpg" >
          <img src="../assets/#6149cb.jpg">
          <img src="../assets/#40b681.jpg">
          <img src="../assets/#de934e.jpg" >
          <img src="../assets/#9c3939.jpg" >
   
          
      
        <div class="weather-data" >
         <div class="location"> Colombo</div>
         <div class="temperature">27 °C</div>
         <div class="temp-min-max"><span>TempMin:</span>100</div>
         <div class="temp-min-max"><span>TempMax:</span>100</div>
         <div class="date-data">9.19 am ,feb 18</div>
         <div class="image-data"><img src="../assets/a.png" alt=""> <span> cloud</span></div>
         
       
        </div>
        </div>
        <div class="lower-data">
        
          <div class="more-info-container">
           <div class="info-block">
             <div class="info-block-label">
               <img src="../assets/a.png" alt="">
               <span> Pressure:</span>
             </div>
           <div class="info-block-value">
            1018hPa
           </div>
           </div>
       
           <div class="info-block">
             <div class="info-block-label">
               <img src="../assets/a.png" alt="">
               <span> min</span>
             </div>
           <div class="info-block-value">
             10 °C
           </div>
           </div>
       
           <div class="info-block">
             <div class="info-block-label">
               <img src="../assets/a.png" alt="">
               <span>Sunrise:</span>
             </div>
           <div class="info-block-value">
            6.06am
           </div>
           </div>
       
           <div class="info-block">
             <div class="info-block-label">
               <img src="../assets/a.png" alt="">
               <span> Humidity</span>
             </div>
           <div class="info-block-value">
             78
           </div>
           </div>
       
           <div class="info-block">
             <div class="info-block-label">
               <img src="../assets/a.png" alt="">
               <span> wind</span>
             </div>
           <div class="info-block-value">
             11 km/h
           </div>
           </div>
  
           <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/a.png" alt="">
              <span>Sunset:</span>
            </div>
          <div class="info-block-value">
            6.05 pm
          </div>
          </div>
          <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/a.png" alt="">
              <span>Visibility:</span>
            </div>
          <div class="info-block-value">
            6.05
          </div>
          </div>
       
          </div> 
         </div>
      </div>
      <div class="col-6">
        <div class="upper-data">
          <img src="" alt="">
          <img src="../assets/blue.jpg">
          <img src="../assets/#6149cb.jpg">
          <img src="../assets/#40b681.jpg" >
          <img src="../assets/#de934e.jpg" >
          <img src="../assets/#9c3939.jpg" >
   
          
      
        <div class="weather-data">
         <div class="location">Tokyo  </div>
         <div class="temperature">7 °C</div>
         <div class="temp-min-max"><span>TempMin:</span>100</div>
         <div class="temp-min-max"><span>TempMax:</span>100</div>
         <div class="date-data">9.19 am ,feb 18</div>
         <div class="image-data"><img src="../assets/a.png" alt=""> <span> cloud</span></div>
         
       
        </div>
        </div>
        <div class="lower-data">
        
          <div class="more-info-container">
           <div class="info-block">
             <div class="info-block-label">
               <img src="../assets/a.png" alt="">
               <span> Pressure:</span>
             </div>
           <div class="info-block-value">
            1018hPa
           </div>
           </div>
       
           <div class="info-block">
             <div class="info-block-label">
               <img src="../assets/a.png" alt="">
               <span> min</span>
             </div>
           <div class="info-block-value">
             10 °C
           </div>
           </div>
       
           <div class="info-block">
             <div class="info-block-label">
               <img src="../assets/a.png" alt="">
               <span>Sunrise:</span>
             </div>
           <div class="info-block-value">
            6.06am
           </div>
           </div>
       
           <div class="info-block">
             <div class="info-block-label">
               <img src="../assets/a.png" alt="">
               <span> Humidity</span>
             </div>
           <div class="info-block-value">
             78
           </div>
           </div>
       
           <div class="info-block">
             <div class="info-block-label">
               <img src="../assets/a.png" alt="">
               <span> wind</span>
             </div>
           <div class="info-block-value">
             11 km/h
           </div>
           </div>
  
           <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/a.png" alt="">
              <span>Sunset:</span>
            </div>
          <div class="info-block-value">
            6.05 pm
          </div>
          </div>
          <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/a.png" alt="">
              <span>Visibility:</span>
            </div>
          <div class="info-block-value">
            6.05
          </div>
          </div>
       
          </div> 
         </div>
      </div>
  </div>
  <div class="row">
    <div class="col-6">
        
      <div class="upper-data">
        <img src="" alt="">
        <img src="../assets/blue.jpg" >
        <img src="../assets/#6149cb.jpg">
        <img src="../assets/#40b681.jpg" >
        <img src="../assets/#de934e.jpg" >
        <img src="../assets/#9c3939.jpg" >
 
        
    
      <div class="weather-data">
       <div class="location">Liverpool  </div>
       <div class="temperature">16.5°C</div>
       <div class="temp-min-max"><span>TempMin:</span>100</div>
       <div class="temp-min-max"><span>TempMax:</span>100</div>
       <div class="date-data">9.19 am ,feb 18</div>
       <div class="image-data"><img src="../assets/a.png" alt=""> <span> cloud</span></div>
       
     
      </div>
      </div>
      <div class="lower-data">
      
        <div class="more-info-container">
         <div class="info-block">
           <div class="info-block-label">
             <img src="../assets/a.png" alt="">
             <span> Pressure:</span>
           </div>
         <div class="info-block-value">
          1018hPa
         </div>
         </div>
     
         <div class="info-block">
           <div class="info-block-label">
             <img src="../assets/a.png" alt="">
             <span> min</span>
           </div>
         <div class="info-block-value">
           10 °C
         </div>
         </div>
     
         <div class="info-block">
           <div class="info-block-label">
             <img src="../assets/a.png" alt="">
             <span>Sunrise:</span>
           </div>
         <div class="info-block-value">
          6.06am
         </div>
         </div>
     
         <div class="info-block">
           <div class="info-block-label">
             <img src="../assets/a.png" alt="">
             <span> Humidity</span>
           </div>
         <div class="info-block-value">
           78
         </div>
         </div>
     
         <div class="info-block">
           <div class="info-block-label">
             <img src="../assets/a.png" alt="">
             <span> wind</span>
           </div>
         <div class="info-block-value">
           11 km/h
         </div>
         </div>

         <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/a.png" alt="">
            <span>Sunset:</span>
          </div>
        <div class="info-block-value">
          6.05 pm
        </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/a.png" alt="">
            <span>Visibility:</span>
          </div>
        <div class="info-block-value">
          6.05
        </div>
        </div>
     
        </div> 
       </div>
    </div>
    <div class="col-6">
      <div class="upper-data">
        <img src="" alt="">
        <img src="../assets/blue.jpg" >
        <img src="../assets/#6149cb.jpg" >
        <img src="../assets/#40b681.jpg" >
        <img src="../assets/#de934e.jpg">
        <img src="../assets/#9c3939.jpg" >
 
        
    
      <div class="weather-data">
       <div class="location">Paris  </div>
       <div class="temperature">22.4 °C</div>
       <div class="temp-min-max"><span>TempMin:</span>100</div>
       <div class="temp-min-max"><span>TempMax:</span>100</div>
       <div class="date-data">9.19 am ,feb 18</div>
       <div class="image-data"><img src="../assets/a.png" alt=""> <span> cloud</span></div>
       
     
      </div>
      </div>
      <div class="lower-data">
      
        <div class="more-info-container">
         <div class="info-block">
           <div class="info-block-label">
             <img src="../assets/a.png" alt="">
             <span> Pressure:</span>
           </div>
         <div class="info-block-value">
          1018hPa
         </div>
         </div>
     
         <div class="info-block">
           <div class="info-block-label">
             <img src="../assets/a.png" alt="">
             <span> min</span>
           </div>
         <div class="info-block-value">
           10 °C
         </div>
         </div>
     
         <div class="info-block">
           <div class="info-block-label">
             <img src="../assets/a.png" alt="">
             <span>Sunrise:</span>
           </div>
         <div class="info-block-value">
          6.06am
         </div>
         </div>
     
         <div class="info-block">
           <div class="info-block-label">
             <img src="../assets/a.png" alt="">
             <span> Humidity</span>
           </div>
         <div class="info-block-value">
           78
         </div>
         </div>
     
         <div class="info-block">
           <div class="info-block-label">
             <img src="../assets/a.png" alt="">
             <span> wind</span>
           </div>
         <div class="info-block-value">
           11 km/h
         </div>
         </div>

         <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/a.png" alt="">
            <span>Sunset:</span>
          </div>
        <div class="info-block-value">
          6.05 pm
        </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/a.png" alt="">
            <span>Visibility:</span>
          </div>
        <div class="info-block-value">
          6.05
        </div>
        </div>
     
        </div> 
       </div>
    </div>
  
</div>
<div class="row">
  <div class="col-6">
      
    <div class="upper-data">
      <img src="" alt="">
      <img src="../assets/blue.jpg" >
      <img src="../assets/#6149cb.jpg" >
      <img src="../assets/#40b681.jpg">
      <img src="../assets/#de934e.jpg" >
      <img src="../assets/#9c3939.jpg" >

      
  
    <div class="weather-data">
     <div class="location">Liverpool  </div>
     <div class="temperature">16.5°C</div>
     <div class="temp-min-max"><span>TempMin:</span>100</div>
     <div class="temp-min-max"><span>TempMax:</span>100</div>
     <div class="date-data">9.19 am ,feb 18</div>
     <div class="image-data"><img src="../assets/a.png" alt=""> <span> cloud</span></div>
     
   
    </div>
    </div>
    <div class="lower-data">
    
      <div class="more-info-container">
       <div class="info-block">
         <div class="info-block-label">
           <img src="../assets/a.png" alt="">
           <span> Pressure:</span>
         </div>
       <div class="info-block-value">
        1018hPa
       </div>
       </div>
   
       <div class="info-block">
         <div class="info-block-label">
           <img src="../assets/a.png" alt="">
           <span> min</span>
         </div>
       <div class="info-block-value">
         10 °C
       </div>
       </div>
   
       <div class="info-block">
         <div class="info-block-label">
           <img src="../assets/a.png" alt="">
           <span>Sunrise:</span>
         </div>
       <div class="info-block-value">
        6.06am
       </div>
       </div>
   
       <div class="info-block">
         <div class="info-block-label">
           <img src="../assets/a.png" alt="">
           <span> Humidity</span>
         </div>
       <div class="info-block-value">
         78
       </div>
       </div>
   
       <div class="info-block">
         <div class="info-block-label">
           <img src="../assets/a.png" alt="">
           <span> wind</span>
         </div>
       <div class="info-block-value">
         11 km/h
       </div>
       </div>

       <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/a.png" alt="">
          <span>Sunset:</span>
        </div>
      <div class="info-block-value">
        6.05 pm
      </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/a.png" alt="">
          <span>Visibility:</span>
        </div>
      <div class="info-block-value">
        6.05
      </div>
      </div>
   
      </div> 
     </div>
  </div>
  <div class="col-6">
    <div class="upper-data">
      <img src="" alt="">
      <img src="../assets/blue.jpg" >
      <img src="../assets/#6149cb.jpg" >
      <img src="../assets/#40b681.jpg" >
      <img src="../assets/#de934e.jpg" >
      <img src="../assets/#9c3939.jpg" >

      
  
    <div class="weather-data">
     <div class="location">Paris  </div>
     <div class="temperature">22.4 °C</div>
     <div class="temp-min-max"><span>TempMin:</span>100</div>
     <div class="temp-min-max"><span>TempMax:</span>100</div>
     <div class="date-data">9.19 am ,feb 18</div>
     <div class="image-data"><img src="../assets/a.png" alt=""> <span> cloud</span></div>
     
   
    </div>
    </div>
    <div class="lower-data">
    
      <div class="more-info-container">
       <div class="info-block">
         <div class="info-block-label">
           <img src="../assets/a.png" alt="">
           <span> Pressure:</span>
         </div>
       <div class="info-block-value">
        1018hPa
       </div>
       </div>
   
       <div class="info-block">
         <div class="info-block-label">
           <img src="../assets/a.png" alt="">
           <span> min</span>
         </div>
       <div class="info-block-value">
         10 °C
       </div>
       </div>
   
       <div class="info-block">
         <div class="info-block-label">
           <img src="../assets/a.png" alt="">
           <span>Sunrise:</span>
         </div>
       <div class="info-block-value">
        6.06am
       </div>
       </div>
   
       <div class="info-block">
         <div class="info-block-label">
           <img src="../assets/a.png" alt="">
           <span> Humidity</span>
         </div>
       <div class="info-block-value">
         78
       </div>
       </div>
   
       <div class="info-block">
         <div class="info-block-label">
           <img src="../assets/a.png" alt="">
           <span> wind</span>
         </div>
       <div class="info-block-value">
         11 km/h
       </div>
       </div>

       <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/a.png" alt="">
          <span>Sunset:</span>
        </div>
      <div class="info-block-value">
        6.05 pm
      </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/a.png" alt="">
          <span>Visibility:</span>
        </div>
      <div class="info-block-value">
        6.05
      </div>
      </div>
   
      </div> 
     </div>
  </div>

</div>
</div>

<footer class="footer-data">2021 Fidens Technology </footer>





<!-- <div ng-controller="ColumnsCtrl" class="container">
  <div class="row">
      <div class="col-6">
          
        <div class="upper-data">
          <img src="" alt="">
          <img src="../assets/blue.jpg" >
          <img src="../assets/#6149cb.jpg">
          <img src="../assets/#40b681.jpg" >
          <img src="../assets/#de934e.jpg" >
          <img src="../assets/#9c3939.jpg" >
   
          
      
        <div class="weather-data">
         <div class="location">colombo  </div>
         <div class="temperature">27 °C</div>
         <div class="temp-min-max"><span>TempMin:</span>100</div>
         <div class="temp-min-max"><span>TempMax:</span>100</div>
         <div class="date-data">9.19 am ,feb 18</div>
         <div class="image-data"><img src="../assets/a.png" alt=""> <span> cloud</span></div>
         
       
        </div>
        </div>
        <div class="lower-data">
        
          <div class="more-info-container">
           <div class="info-block">
             <div class="info-block-label">
               <img src="../assets/a.png" alt="">
               <span> Pressure:</span>
             </div>
           <div class="info-block-value">
            1018hPa
           </div>
           </div>
       
           <div class="info-block">
             <div class="info-block-label">
               <img src="../assets/a.png" alt="">
               <span> min</span>
             </div>
           <div class="info-block-value">
             10 °C
           </div>
           </div>
       
           <div class="info-block">
             <div class="info-block-label">
               <img src="../assets/a.png" alt="">
               <span>Sunrise:</span>
             </div>
           <div class="info-block-value">
            6.06am
           </div>
           </div>
       
           <div class="info-block">
             <div class="info-block-label">
               <img src="../assets/a.png" alt="">
               <span> Humidity</span>
             </div>
           <div class="info-block-value">
             78
           </div>
           </div>
       
           <div class="info-block">
             <div class="info-block-label">
               <img src="../assets/a.png" alt="">
               <span> wind</span>
             </div>
           <div class="info-block-value">
             11 km/h
           </div>
           </div>
  
           <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/a.png" alt="">
              <span>Sunset:</span>
            </div>
          <div class="info-block-value">
            6.05 pm
          </div>
          </div>
          <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/a.png" alt="">
              <span>Visibility:</span>
            </div>
          <div class="info-block-value">
            6.05
          </div>
          </div>
       
          </div> 
         </div>
      </div>
      <div class="col-6">
        <div class="upper-data">
          <img src="" alt="">
          <img src="../assets/blue.jpg" ">
          <img src="../assets/#6149cb.jpg" *ngIf ="-7 >= 7">
          <img src="../assets/#40b681.jpg" *ngIf ="-2 >= 5">
          <img src="../assets/#de934e.jpg" *ngIf ="20 >= 30">
          <img src="../assets/#9c3939.jpg" *ngIf ="10 >= 15">
   
          
      
        <div class="weather-data">
         <div class="location">Tokyo  </div>
         <div class="temperature">7 °C</div>
         <div class="temp-min-max"><span>TempMin:</span>100</div>
         <div class="temp-min-max"><span>TempMax:</span>100</div>
         <div class="date-data">9.19 am ,feb 18</div>
         <div class="image-data"><img src="../assets/a.png" alt=""> <span> cloud</span></div>
         
       
        </div>
        </div>
        <div class="lower-data">
        
          <div class="more-info-container">
           <div class="info-block">
             <div class="info-block-label">
               <img src="../assets/a.png" alt="">
               <span> Pressure:</span>
             </div>
           <div class="info-block-value">
            1018hPa
           </div>
           </div>
       
           <div class="info-block">
             <div class="info-block-label">
               <img src="../assets/a.png" alt="">
               <span> min</span>
             </div>
           <div class="info-block-value">
             10 °C
           </div>
           </div>
       
           <div class="info-block">
             <div class="info-block-label">
               <img src="../assets/a.png" alt="">
               <span>Sunrise:</span>
             </div>
           <div class="info-block-value">
            6.06am
           </div>
           </div>
       
           <div class="info-block">
             <div class="info-block-label">
               <img src="../assets/a.png" alt="">
               <span> Humidity</span>
             </div>
           <div class="info-block-value">
             78
           </div>
           </div>
       
           <div class="info-block">
             <div class="info-block-label">
               <img src="../assets/a.png" alt="">
               <span> wind</span>
             </div>
           <div class="info-block-value">
             11 km/h
           </div>
           </div>
  
           <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/a.png" alt="">
              <span>Sunset:</span>
            </div>
          <div class="info-block-value">
            6.05 pm
          </div>
          </div>
          <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/a.png" alt="">
              <span>Visibility:</span>
            </div>
          <div class="info-block-value">
            6.05
          </div>
          </div>
       
          </div> 
         </div>
      </div>
  </div>
  <div class="row">
    <div class="col-6">
        
      <div class="upper-data">
        <img src="" alt="">
        <img src="../assets/blue.jpg" *ngIf = "25 >= 15">
        <img src="../assets/#6149cb.jpg" *ngIf ="-7 >= 7">
        <img src="../assets/#40b681.jpg" *ngIf ="-2 >= 5">
        <img src="../assets/#de934e.jpg" *ngIf ="20 >= 30">
        <img src="../assets/#9c3939.jpg" *ngIf ="10 >= 15">
 
        
    
      <div class="weather-data">
       <div class="location">Liverpool  </div>
       <div class="temperature">16.5°C</div>
       <div class="temp-min-max"><span>TempMin:</span>100</div>
       <div class="temp-min-max"><span>TempMax:</span>100</div>
       <div class="date-data">9.19 am ,feb 18</div>
       <div class="image-data"><img src="../assets/a.png" alt=""> <span> cloud</span></div>
       
     
      </div>
      </div>
      <div class="lower-data">
      
        <div class="more-info-container">
         <div class="info-block">
           <div class="info-block-label">
             <img src="../assets/a.png" alt="">
             <span> Pressure:</span>
           </div>
         <div class="info-block-value">
          1018hPa
         </div>
         </div>
     
         <div class="info-block">
           <div class="info-block-label">
             <img src="../assets/a.png" alt="">
             <span> min</span>
           </div>
         <div class="info-block-value">
           10 °C
         </div>
         </div>
     
         <div class="info-block">
           <div class="info-block-label">
             <img src="../assets/a.png" alt="">
             <span>Sunrise:</span>
           </div>
         <div class="info-block-value">
          6.06am
         </div>
         </div>
     
         <div class="info-block">
           <div class="info-block-label">
             <img src="../assets/a.png" alt="">
             <span> Humidity</span>
           </div>
         <div class="info-block-value">
           78
         </div>
         </div>
     
         <div class="info-block">
           <div class="info-block-label">
             <img src="../assets/a.png" alt="">
             <span> wind</span>
           </div>
         <div class="info-block-value">
           11 km/h
         </div>
         </div>

         <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/a.png" alt="">
            <span>Sunset:</span>
          </div>
        <div class="info-block-value">
          6.05 pm
        </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/a.png" alt="">
            <span>Visibility:</span>
          </div>
        <div class="info-block-value">
          6.05
        </div>
        </div>
     
        </div> 
       </div>
    </div>
    <div class="col-6">
      <div class="upper-data">
        <img src="" alt="">
        <img src="../assets/blue.jpg" *ngIf = "25 >= 15">
        <img src="../assets/#6149cb.jpg" *ngIf ="-7 >= 7">
        <img src="../assets/#40b681.jpg" *ngIf ="-2 >= 5">
        <img src="../assets/#de934e.jpg" *ngIf ="20 >= 30">
        <img src="../assets/#9c3939.jpg" *ngIf ="10 >= 15">
 
        
    
      <div class="weather-data">
       <div class="location">Paris  </div>
       <div class="temperature">22.4 °C</div>
       <div class="temp-min-max"><span>TempMin:</span>100</div>
       <div class="temp-min-max"><span>TempMax:</span>100</div>
       <div class="date-data">9.19 am ,feb 18</div>
       <div class="image-data"><img src="../assets/a.png" alt=""> <span> cloud</span></div>
       
     
      </div>
      </div>
      <div class="lower-data">
      
        <div class="more-info-container">
         <div class="info-block">
           <div class="info-block-label">
             <img src="../assets/a.png" alt="">
             <span> Pressure:</span>
           </div>
         <div class="info-block-value">
          1018hPa
         </div>
         </div>
     
         <div class="info-block">
           <div class="info-block-label">
             <img src="../assets/a.png" alt="">
             <span> min</span>
           </div>
         <div class="info-block-value">
           10 °C
         </div>
         </div>
     
         <div class="info-block">
           <div class="info-block-label">
             <img src="../assets/a.png" alt="">
             <span>Sunrise:</span>
           </div>
         <div class="info-block-value">
          6.06am
         </div>
         </div>
     
         <div class="info-block">
           <div class="info-block-label">
             <img src="../assets/a.png" alt="">
             <span> Humidity</span>
           </div>
         <div class="info-block-value">
           78
         </div>
         </div>
     
         <div class="info-block">
           <div class="info-block-label">
             <img src="../assets/a.png" alt="">
             <span> wind</span>
           </div>
         <div class="info-block-value">
           11 km/h
         </div>
         </div>

         <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/a.png" alt="">
            <span>Sunset:</span>
          </div>
        <div class="info-block-value">
          6.05 pm
        </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/a.png" alt="">
            <span>Visibility:</span>
          </div>
        <div class="info-block-value">
          6.05
        </div>
        </div>
     
        </div> 
       </div>
    </div>
  
</div>
<div class="row">
  <div class="col-6">
      
    <div class="upper-data">
      <img src="" alt="">
      <img src="../assets/blue.jpg" *ngIf = "25 >= 15">
      <img src="../assets/#6149cb.jpg" *ngIf ="-7 >= 7">
      <img src="../assets/#40b681.jpg" *ngIf ="-2 >= 5">
      <img src="../assets/#de934e.jpg" *ngIf ="20 >= 30">
      <img src="../assets/#9c3939.jpg" *ngIf ="10 >= 15">

      
  
    <div class="weather-data">
     <div class="location">Liverpool  </div>
     <div class="temperature">16.5°C</div>
     <div class="temp-min-max"><span>TempMin:</span>100</div>
     <div class="temp-min-max"><span>TempMax:</span>100</div>
     <div class="date-data">9.19 am ,feb 18</div>
     <div class="image-data"><img src="../assets/a.png" alt=""> <span> cloud</span></div>
     
   
    </div>
    </div>
    <div class="lower-data">
    
      <div class="more-info-container">
       <div class="info-block">
         <div class="info-block-label">
           <img src="../assets/a.png" alt="">
           <span> Pressure:</span>
         </div>
       <div class="info-block-value">
        1018hPa
       </div>
       </div>
   
       <div class="info-block">
         <div class="info-block-label">
           <img src="../assets/a.png" alt="">
           <span> min</span>
         </div>
       <div class="info-block-value">
         10 °C
       </div>
       </div>
   
       <div class="info-block">
         <div class="info-block-label">
           <img src="../assets/a.png" alt="">
           <span>Sunrise:</span>
         </div>
       <div class="info-block-value">
        6.06am
       </div>
       </div>
   
       <div class="info-block">
         <div class="info-block-label">
           <img src="../assets/a.png" alt="">
           <span> Humidity</span>
         </div>
       <div class="info-block-value">
         78
       </div>
       </div>
   
       <div class="info-block">
         <div class="info-block-label">
           <img src="../assets/a.png" alt="">
           <span> wind</span>
         </div>
       <div class="info-block-value">
         11 km/h
       </div>
       </div>

       <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/a.png" alt="">
          <span>Sunset:</span>
        </div>
      <div class="info-block-value">
        6.05 pm
      </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/a.png" alt="">
          <span>Visibility:</span>
        </div>
      <div class="info-block-value">
        6.05
      </div>
      </div>
   
      </div> 
     </div>
  </div>
  <div class="col-6">
    <div class="upper-data">
      <img src="" alt="">
      <img src="../assets/blue.jpg" *ngIf = "25 >= 15">
      <img src="../assets/#6149cb.jpg" *ngIf ="-7 >= 7">
      <img src="../assets/#40b681.jpg" *ngIf ="-2 >= 5">
      <img src="../assets/#de934e.jpg" *ngIf ="20 >= 30">
      <img src="../assets/#9c3939.jpg" *ngIf ="10 >= 15">

      
  
    <div class="weather-data">
     <div class="location">Paris  </div>
     <div class="temperature">22.4 °C</div>
     <div class="temp-min-max"><span>TempMin:</span>100</div>
     <div class="temp-min-max"><span>TempMax:</span>100</div>
     <div class="date-data">9.19 am ,feb 18</div>
     <div class="image-data"><img src="../assets/a.png" alt=""> <span> cloud</span></div>
     
   
    </div>
    </div>
    <div class="lower-data">
    
      <div class="more-info-container">
       <div class="info-block">
         <div class="info-block-label">
           <img src="../assets/a.png" alt="">
           <span> Pressure:</span>
         </div>
       <div class="info-block-value">
        1018hPa
       </div>
       </div>
   
       <div class="info-block">
         <div class="info-block-label">
           <img src="../assets/a.png" alt="">
           <span> min</span>
         </div>
       <div class="info-block-value">
         10 °C
       </div>
       </div>
   
       <div class="info-block">
         <div class="info-block-label">
           <img src="../assets/a.png" alt="">
           <span>Sunrise:</span>
         </div>
       <div class="info-block-value">
        6.06am
       </div>
       </div>
   
       <div class="info-block">
         <div class="info-block-label">
           <img src="../assets/a.png" alt="">
           <span> Humidity</span>
         </div>
       <div class="info-block-value">
         78
       </div>
       </div>
   
       <div class="info-block">
         <div class="info-block-label">
           <img src="../assets/a.png" alt="">
           <span> wind</span>
         </div>
       <div class="info-block-value">
         11 km/h
       </div>
       </div>

       <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/a.png" alt="">
          <span>Sunset:</span>
        </div>
      <div class="info-block-value">
        6.05 pm
      </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/a.png" alt="">
          <span>Visibility:</span>
        </div>
      <div class="info-block-value">
        6.05
      </div>
      </div>
   
      </div> 
     </div>
  </div>

</div>
</div>

<footer class="footer-data">2021 Fidens Technology </footer>

 -->
